* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top-section {
    height: calc(100vh - 100px);
    background-color: #141922;
    display: flex;
}

.bottom-section {
    height: 100px;
    background-color: #282828;
    position: fixed;
    bottom: 0;
    z-index: 1;
    width: 100vw;
}

.sidebar {
    width: 75px;
    background-color: black;
}

.main-content {
    width: calc(100vw - 75px);
    background-color: #141922;
}

.content {
    height: 200px;
    background-color: purple;
    margin: 10px;
}

header {
    background-color: rgba(0, 0, 0, 0.363);
    position: fixed;
    top: 0;
    left: 75px;
    z-index: 1;
    width: calc(100vw - 75px);
    color: white;
    text-align: right;
}

header .col-100 {
    margin: 30px;
}

header strong {
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 30px;
}

.container {
    max-width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-100 {
    width: 100%;
}

.col-16 {
    width: 50%;
}

main {
    margin-top: 100px;
}

.menu-section.text-center {
    list-style-type: none;
    
}

.menu-section.text-center li {
    display: inline-block;
    margin: 10px;
}

li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.24);
}

/* UTILITY CLASSES  */
.fs-12 {
    font-size: 12px;
}
.fs-14 {
    font-size: 14px;
}

.text-center {
    text-align: center;
}

.overflow {
    overflow: auto;
    height: calc(100vh - 200px);
}

/* MEDIA QUERY  */
@media screen and (min-width: 576px) {

}

@media screen and (min-width: 768px) {
    .col-16 {
        width: calc(100% / 4);
    }
}