* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top-section {
    height: calc(100vh - 100px);
    background-color: #141922;
    display: flex;
}

.bottom-section {
    height: 100px;
    background-color: #282828;
    position: fixed;
    bottom: 0;
    z-index: 1;
    width: 100vw;
}

.sidebar {
    width: 50px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.icons {
    width: 35px;
}

.sidebar-bottom,
.sidebar-bottom .main-col-2 img {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-bottom img:nth-child(1) {
    width: 20px;
    margin-bottom: 10px;
}

.sidebar-bottom img:nth-child(2) {
    width: 30px;
    margin-bottom: 10px;
}


.main-content {
    width: calc(100vw - 50px);
    background-color: #141922;
}

.content {
    height: 200px;
    background-color: purple;
    margin: 10px;
}

header {
    background-color: rgba(0, 0, 0, 0.363);
    position: fixed;
    top: 0;
    left: 50px;
    z-index: 1;
    width: calc(100vw - 50px);
    color: white;
    text-align: right;
}

header .col-100 {
    margin: 30px;
}

header strong {
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 30px;
}

.container {
    max-width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-100 {
    width: 100%;
}

.col-100-side {
    width: 100%;
    display: flex;
    justify-content: center;
}

.col-16 {
    width: 50%;
}

main {
    margin-top: 100px;
}

.menu-section.text-center {
    list-style-type: none;
    
}

.menu-section.text-center li {
    display: inline-block;
    margin: 10px;
}

li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.24);
}

/* UTILITY CLASSES  */
.fs-12 {
    font-size: 12px;
}
.fs-14 {
    font-size: 14px;
}

.fs-25 {
    font-size: 25px;
}

.fs-35 {
    font-size: 35px;
}

.text-center {
    text-align: center;
}

.overflow {
    overflow: auto;
    height: calc(100vh - 200px);
}

.bg.color-1 {
    background-color: grey;
}

.main-color-1 {
    color: white;
}

/* MEDIA QUERY  */
@media screen and (min-width: 576px) {
    .sidebar {
        width: 200px;
    }
    .main-content{
        width: calc(100vw - 200px);
    }
    header {
        width: calc(100vw - 200px);
        left: 200px;
    }
    .sidebar {
        align-items: flex-start;
        padding: 10px;
    }
}

@media screen and (min-width: 768px) {
    .col-16 {
        width: calc(100% / 4);
    }
}